import os

INPUT_DIR = 'input'
OUTPUT_DIR = 'output'
CACHE_DIR = 'cache'
BACKUP_DIR = 'backup'

os.makedirs(INPUT_DIR, exist_ok=True)
os.makedirs(OUTPUT_DIR, exist_ok=True)
os.makedirs(CACHE_DIR, exist_ok=True)
os.makedirs(BACKUP_DIR, exist_ok=True)

# Filenames for local settings
MX_PORTS = 'mx_ports.csv'
SUBNETS = 'subnets.csv'
VLANS = 'vlans.json'